# VCS
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.coverage
htmlcov/

# Virtual envs
venv/
.env/
.venv/

# Node / frontend
node_modules/
dist/
build/

# Django runtime artifacts
staticfiles/
media/
*.sqlite3

# OS/editor
.DS_Store
.vscode/
.idea/
